<div class="student-container">
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Edit Student Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Name" formControlName="name">
              <mat-error *ngIf="studentForm.controls['name'].hasError('required')">
                Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
                <mat-label>Cateogry</mat-label>
                <mat-select formControlName="category" [(value)]="student.category">
                  <mat-option *ngFor="let category of categories" [value]="category.value">
                    {{category.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="studentForm.controls['category'].hasError('required')">
                  Category is <strong>required</strong>
                </mat-error>
              </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col full-width">
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="picker" placeholder="DOB" formControlName="dateOfBirth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="studentForm.controls['dateOfBirth'].hasError('required')">
                DOB is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Father's Name" formControlName="fatherName">
              <mat-error *ngIf="studentForm.controls['fatherName'].hasError('required')">
                Father's Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput placeholder="Mother's Name" formControlName="motherName">
              <mat-error *ngIf="studentForm.controls['motherName'].hasError('required')">
                Mother's Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input type="number" matInput placeholder="Last Class Score" formControlName="lastClassScore">
              <mat-icon matSuffix>%</mat-icon>
              <mat-error *ngIf="studentForm.controls['lastClassScore'].hasError('required')">
                Last Class Score is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="studentForm.controls['lastClassScore'].hasError('minMaxValue')">
                Last Class Score is <strong>invalid</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col full-width">
            <mat-card-title>Documents</mat-card-title>
            <div class="row">
              <mat-checkbox formControlName="domicileCertificate">Domicile Certificate</mat-checkbox>
              <mat-error *ngIf="studentForm.controls['domicileCertificate'].hasError('required')">
                <strong>*</strong>
              </mat-error>
            </div>
            <div class="row">
              <mat-checkbox formControlName="birthCertificate">Birth Certificate</mat-checkbox>
              <mat-error *ngIf="studentForm.controls['birthCertificate'].hasError('required')">
                <strong>*</strong>
              </mat-error>
            </div>
            <div class="row">
              <mat-checkbox formControlName="previousMarkSheet">Previous Mark Sheet</mat-checkbox>
              <mat-error *ngIf="studentForm.controls['previousMarkSheet'].hasError('required')">
                <strong>*</strong>
              </mat-error>
            </div>
            <div class="row">
              <mat-checkbox formControlName="policeClearance">Police Clearance</mat-checkbox>
              <mat-error *ngIf="studentForm.controls['policeClearance'].hasError('required')">
                <strong>*</strong>
              </mat-error>
            </div>
            <div class="row">
              <mat-checkbox formControlName="passport">Passport</mat-checkbox>
              <mat-error *ngIf="studentForm.controls['passport'].hasError('required')">
                <strong>*</strong>
              </mat-error>
            </div>
            <div class="row">
              <mat-checkbox formControlName="signedDeclaration">Signed Declaration</mat-checkbox>
              <mat-error *ngIf="studentForm.controls['signedDeclaration'].hasError('required')">
                <strong>*</strong>
              </mat-error>
            </div>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button class="btn-pos" mat-raised-button color="primary" type="button" (click)="back()">Back</button>
        <button class="btn-pos" mat-raised-button color="primary" type="submit"[disabled]="studentForm.status === 'INVALID'">Save</button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
