table {
  width: 100%;
}

.cell-pad {
  padding: 15px !important;
}

.btn-pos {
  top: 8px;
  left: 20px;
}

.table-header {
  background-color: rgba(0,0,0,.03);
}

.international {
  background-color: beige;
}

.domestic {
  background-color: blanchedalmond;
}

.header-font {
  font-size: 110%;
}
